.sidebar {
    position: fixed;
    width: 200px;
    height: 400px;
    background: #000;
}

.content {
    margin-left: 300px;
    height: 500px;
    width: auto;
    position: relative;
    background: #f00;
    overflow: auto;
    z-index: 1;
}